#include "lapka_wellum36.dtsi"

/ {
    chosen {
        zephyr,display = &ssd1306;
    };
};

&i2c0 {
    status = "okay";
    clock-frequency = <400000>;

    ssd1306: ssd1306@3c {
        compatible = "solomon,ssd1306";
        reg = <0x3c>;
        reset-gpios = <&pro_micro 9 GPIO_ACTIVE_LOW>;
        width = <128>;
        height = <64>;
        segment-offset = <0>;
        page-offset = <0>;
        display-offset = <0>;
    };
};